/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
 
font-family: Verdana, Arial, Helvetica, sans-serif;
 
font-size: 14px;
line-height: 18px;
 

 
  background: linear-gradient(0deg,#35AFCF,white 50%,#35AFCF);
  
   
  background :url("../img/background.jpg");
background-size:cover;
 filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.7;  

}

body a{
color: black;	
}
	
/* layout */

#wrapper {
background: white;
width: 940px;
  
      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 1.0;  
  
margin: 0 auto;
margin-top: 30px;
margin-bottom: 30px;
}

#pic{
width: 940px;
height: 150px;
 
margin-top: 0px;
}

#naviBar{
width: 1200px;
height: 30px;
}

#left{
 
width: 165px;
margin-bottom: 10px;
margin-left: 10px;
margin-top: 10px;
float: left;
}

#left img{
border: 0px;	
}

#downloadItem{
height: 12px;
margin-right: 2px;
}

#right{
float:left;
width: 743px;
margin-left: 10px;
margin-top: 10px;
margin-right: 0px;
margin-bottom: 10px;
}

 
#xsjb{

border:1px solid #35AFCF;	
}
 

#bgxz{
margin-top:10px;
padding-top: 0px;
border:1px solid #35AFCF;	
}


/**************主页右侧的四块内容******************/ 
#tableGzdt{
border:1px solid #35AFCF;
float: left; 
width: 360px;
height:215px;
margin-left: 0px;
margin-right: 10px;
margin-bottom: 10px;
}

#tableSjgk{
	 
border:1px solid #35AFCF;
float: left; 
width: 360px;
height:215px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 10px;
}

#tableSjxw{
border:1px solid #35AFCF;	 
float: left;
width: 360px;
height:215px;
margin-left: 0px;
margin-right: 10px;
}

#tableSjtg{
border:1px solid #35AFCF;	 
float: left;
width: 360px;
height:215px;
margin-left: 0px;
margin-right: 0px;
}

#right img{
border: 2px solid #FFFFFF;
}

/***********************************************/ 







/**************contentList.jsp右侧的table******************/ 
#right1{
 
width: 750px;

margin-left: 190px;
margin-top: 10px;
margin-bottom: 50px;
}


#table3{
 

border:1px solid #35AFCF;	
width: 740px;
max-height:none;
margin-left: 0px;
 
}
/***********************************************/ 

 

 












#tableContentIcon{
margin-right:5px;
height: 12px;
border: 2px solid #FFFFFF;
}

#tableContentMore{
margin-left:300px;
height: 40px;
border: 2px solid #FFFFFF;
}

#tableContentTime{
height:35px;
width:150px;
}

#foot{
width: 940px;
height:50px;
background: #35AFCF;
margin-top: 30px;
clear: both;
}


.STYLE1{
padding-left: 230px;	
}

#footText{
float: left;
color:#000000;
 
margin-right:5px;
margin-top:15px;
font-family: Arial, Helvetica, sans-serif;

}

#foot a{
text-decoration: none;
color: black;
}

#foot a:hover{
color: black;
font-size: 15px;
}