.ace-label {
    background-color: #abbac3 !important;
    border-radius: 0;
    display: inline-block;
    font-weight: normal;
    text-shadow: none;
}
.ace-label[class*="col-"][class*="arrow"] {
    min-height: 0;
}

.ace-label-transparent, .badge-transparent {
    background-color: transparent !important;
}
.ace-label-grey, .badge-grey {
    background-color: #a0a0a0 !important;
}
.ace-label-info, .badge-info {
    background-color: #3a87ad !important;
}
.ace-label-primary, .badge-primary {
    background-color: #428bca !important;
}
.ace-label-success, .badge-success {
    background-color: #82af6f !important;
}
.ace-label-danger, .badge-danger {
    background-color: #d15b47 !important;
}
.ace-label-important, .badge-important {
    background-color: #d15b47 !important;
}
.ace-label-inverse, .badge-inverse {
    background-color: #333 !important;
}
.ace-label-warning, .badge-warning {
    background-color: #f89406 !important;
}
.ace-label-pink, .badge-pink {
    background-color: #d6487e !important;
}
.ace-label-purple, .badge-purple {
    background-color: #9585bf !important;
}
.ace-label-yellow, .badge-yellow {
    background-color: #fee188 !important;
}
.ace-label-light, .badge-light {
    background-color: #e7e7e7 !important;
}
.badge-yellow, .ace-label-yellow {
    border-color: #fee188;
    color: #963 !important;
}
.badge-light, .ace-label-light {
    color: #888 !important;
}
.ace-label.arrowed, .ace-label.arrowed-in {
    position: relative;
    z-index: 1;
}
.ace-label.arrowed:before, .ace-label.arrowed-in:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #abbac3 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: -1;
}
.ace-label.arrowed-in:before {
    border-bottom-color: #abbac3;
    border-left-color: transparent !important;
    border-right-color: #abbac3;
    border-top-color: #abbac3;
}
.ace-label.arrowed-right, .ace-label.arrowed-in-right {
    position: relative;
    z-index: 1;
}
.ace-label.arrowed-right:after, .ace-label.arrowed-in-right:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #abbac3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: -1;
}
.ace-label.arrowed-in-right:after {
    border-bottom-color: #abbac3;
    border-left-color: #abbac3;
    border-right-color: transparent !important;
    border-top-color: #abbac3;
}
.ace-label-info.arrowed:before {
    border-right-color: #3a87ad;
}
.ace-label-info.arrowed-in:before {
    border-color: #3a87ad;
}
.ace-label-info.arrowed-right:after {
    border-left-color: #3a87ad;
}
.ace-label-info.arrowed-in-right:after {
    border-color: #3a87ad;
}
.ace-label-primary.arrowed:before {
    border-right-color: #428bca;
}
.ace-label-primary.arrowed-in:before {
    border-color: #428bca;
}
.ace-label-primary.arrowed-right:after {
    border-left-color: #428bca;
}
.ace-label-primary.arrowed-in-right:after {
    border-color: #428bca;
}
.ace-label-success.arrowed:before {
    border-right-color: #82af6f;
}
.ace-label-success.arrowed-in:before {
    border-color: #82af6f;
}
.ace-label-success.arrowed-right:after {
    border-left-color: #82af6f;
}
.ace-label-success.arrowed-in-right:after {
    border-color: #82af6f;
}
.ace-label-warning.arrowed:before {
    border-right-color: #f89406;
}
.ace-label-warning.arrowed-in:before {
    border-color: #f89406;
}
.ace-label-warning.arrowed-right:after {
    border-left-color: #f89406;
}
.ace-label-warning.arrowed-in-right:after {
    border-color: #f89406;
}
.ace-label-important.arrowed:before {
    border-right-color: #d15b47;
}
.ace-label-important.arrowed-in:before {
    border-color: #d15b47;
}
.ace-label-important.arrowed-right:after {
    border-left-color: #d15b47;
}
.ace-label-important.arrowed-in-right:after {
    border-color: #d15b47;
}
.ace-label-danger.arrowed:before {
    border-right-color: #d15b47;
}
.ace-label-danger.arrowed-in:before {
    border-color: #d15b47;
}
.ace-label-danger.arrowed-right:after {
    border-left-color: #d15b47;
}
.ace-label-danger.arrowed-in-right:after {
    border-color: #d15b47;
}
.ace-label-inverse.arrowed:before {
    border-right-color: #333;
}
.ace-label-inverse.arrowed-in:before {
    border-color: #333;
}
.ace-label-inverse.arrowed-right:after {
    border-left-color: #333;
}
.ace-label-inverse.arrowed-in-right:after {
    border-color: #333;
}
.ace-label-pink.arrowed:before {
    border-right-color: #d6487e;
}
.ace-label-pink.arrowed-in:before {
    border-color: #d6487e;
}
.ace-label-pink.arrowed-right:after {
    border-left-color: #d6487e;
}
.ace-label-pink.arrowed-in-right:after {
    border-color: #d6487e;
}
.ace-label-purple.arrowed:before {
    border-right-color: #9585bf;
}
.ace-label-purple.arrowed-in:before {
    border-color: #9585bf;
}
.ace-label-purple.arrowed-right:after {
    border-left-color: #9585bf;
}
.ace-label-purple.arrowed-in-right:after {
    border-color: #9585bf;
}
.ace-label-yellow.arrowed:before {
    border-right-color: #fee188;
}
.ace-label-yellow.arrowed-in:before {
    border-color: #fee188;
}
.ace-label-yellow.arrowed-right:after {
    border-left-color: #fee188;
}
.ace-label-yellow.arrowed-in-right:after {
    border-color: #fee188;
}
.ace-label-light.arrowed:before {
    border-right-color: #e7e7e7;
}
.ace-label-light.arrowed-in:before {
    border-color: #e7e7e7;
}
.ace-label-light.arrowed-right:after {
    border-left-color: #e7e7e7;
}
.ace-label-light.arrowed-in-right:after {
    border-color: #e7e7e7;
}
.ace-label-grey.arrowed:before {
    border-right-color: #a0a0a0;
}
.ace-label-grey.arrowed-in:before {
    border-color: #a0a0a0;
}
.ace-label-grey.arrowed-right:after {
    border-left-color: #a0a0a0;
}
.ace-label-grey.arrowed-in-right:after {
    border-color: #a0a0a0;
}
.ace-label {
    font-size: 12px;
    height: 20px;
    line-height: 1.15;
color: #fff;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

}
.ace-label.arrowed {
    margin-left: 5px;
}
.ace-label.arrowed:before {
    border-width: 10px 5px;
    left: -10px;
}
.ace-label.arrowed-in {
    margin-left: 5px;
}
.ace-label.arrowed-in:before {
    border-width: 10px 5px;
    left: -5px;
}
.ace-label.arrowed-right {
    margin-right: 5px;
}
.ace-label.arrowed-right:after {
    border-width: 10px 5px;
    right: -10px;
}
.ace-label.arrowed-in-right {
    margin-right: 5px;
}
.ace-label.arrowed-in-right:after {
    border-width: 10px 5px;
    right: -5px;
}
.ace-label-lg {
    font-size: 13px;
    height: 24px;
    line-height: 1.1;
    padding: 0.3em 0.6em 0.4em;
}
.ace-label-lg.arrowed {
    margin-left: 6px;
}
.ace-label-lg.arrowed:before {
    border-width: 12px 6px;
    left: -12px;
}
.ace-label-lg.arrowed-in {
    margin-left: 6px;
}
.ace-label-lg.arrowed-in:before {
    border-width: 12px 6px;
    left: -6px;
}
.ace-label-lg.arrowed-right {
    margin-right: 6px;
}
.ace-label-lg.arrowed-right:after {
    border-width: 12px 6px;
    right: -12px;
}
.ace-label-lg.arrowed-in-right {
    margin-right: 6px;
}
.ace-label-lg.arrowed-in-right:after {
    border-width: 12px 6px;
    right: -6px;
}
.ace-label-xlg {
    font-size: 14px;
    height: 28px;
    line-height: 1.3;
    padding: 0.3em 0.7em 0.4em;
}
.ace-label-xlg.arrowed {
    margin-left: 7px;
}
.ace-label-xlg.arrowed:before {
    border-width: 14px 7px;
    left: -14px;
}
.ace-label-xlg.arrowed-in {
    margin-left: 7px;
}
.ace-label-xlg.arrowed-in:before {
    border-width: 14px 7px;
    left: -7px;
}
.ace-label-xlg.arrowed-right {
    margin-right: 7px;
}
.ace-label-xlg.arrowed-right:after {
    border-width: 14px 7px;
    right: -14px;
}
.ace-label-xlg.arrowed-in-right {
    margin-right: 7px;
}
.ace-label-xlg.arrowed-in-right:after {
    border-width: 14px 7px;
    right: -7px;
}
.ace-label-sm {
    font-size: 11px;
    height: 18px;
    line-height: 1;
    padding: 0.2em 0.4em 0.3em;
}
.ace-label-sm.arrowed {
    margin-left: 4px;
}
.ace-label-sm.arrowed:before {
    border-width: 9px 4px;
    left: -8px;
}
.ace-label-sm.arrowed-in {
    margin-left: 4px;
}
.ace-label-sm.arrowed-in:before {
    border-width: 9px 4px;
    left: -4px;
}
.ace-label-sm.arrowed-right {
    margin-right: 4px;
}
.ace-label-sm.arrowed-right:after {
    border-width: 9px 4px;
    right: -8px;
}
.ace-label-sm.arrowed-in-right {
    margin-right: 4px;
}
.ace-label-sm.arrowed-in-right:after {
    border-width: 9px 4px;
    right: -4px;
}
.ace-label > span, .ace-label > [class*="icon-"] {
    line-height: 1;
    vertical-align: bottom;
}